  <div id="middle">
    <header> 
    <div style="text-align: center;"> 
    <h1>Contact James Gifford</h1> 
    </header> 
    </div> 
  
    <div id="main-about">
      <div style="text-align: center;">
        <div id="tabs" class="tabs"> 
          <br>
           <a href="aim:addbuddy?screenname=jrgiffordjames1"><img src="images/aim.png"></a>
           <a href="jabber://jrgifford@jabber.org"><img src="images/googletalk.png"></a>
           <a href="http://members.msn.com/james-gifford@hotmail.com"><img src="images/msn.png"></a> 
           <a href="skype:#jrgifford_#?chat"><img src="images/skype.png"></a>
           <a href=" ymsgr:sendim?#jrgifford@ymail.com#"><img src="images/yahoo.png"></a>
           <a href="mailto:james@jamesrgifford.com"><img src="images/email.png"></a>
          </br>
        </div>

        GPG key is available at <a href="/gpg">/gpg</a>
    </div>