  <div id="middle">
    <header> 
    <div style="text-align: center;"> 
      <h1>Who is James Gifford?</h1>
      <!-- <h3>He is a developer, a Ubuntu User, a <a href="http://2buntu.com">Blogger</a> and Teenager</h3> -->
    </header>
    </div>
    <div id="main-about">
      <div style="text-align: center;">
      <!--Main "about me" section -->
      <p><a href="https://wiki.ubuntu.com/jamesgifford">Ubuntu user</a></p>
      <p><a href="https://github.com/jrgifford">Sometime Developer</a></p>
      <br>
      <div id="tabs" class="tabs"> <br>
        <a href="http://twitter.com/jrgifford"><img src="http://jamesrgifford.com/images/twitter.png"></a>  
      <a href="/contact"><img src="http://jamesrgifford.com/images/email.png"></a>
      <a href="http://forr.st/-jrg"><img src="http://jamesrgifford.com/images/forrst.png"></a> 
      <a href="https://github.com/jrgifford"><img src="http://jamesrgifford.com/images/github.png"></a>
      <a href="http://blog.jamesrgifford.com"><img src="http://jamesrgifford.com/images/rss.png"></a>
      <a href="https://launchpad.net/~jamesgifford"><img src="http://jamesrgifford.com/images/launchpad-logo.png"  width="32" height="32"></a>
      </br>
      </div>
      </div>
  </div> <!--! end of #container -->
